{% extends 'base.html' %}
{% load static %}

{% block title %} Ideas | Error {% endblock %}

{% block content %}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-light">404</h1>
        <p class="fs-3"> <span class="text-danger">Opps!</span><span class="text-light">
            Page not found.
        </span></span></p>
        <p class="lead text-light">
            The page you're looking for doesn't exist.
          </p>
        <a href="/" class="btn btn-primary">Go Home</a>
    </div>
</div>

{% endblock %}