<main>
  <div class="container py-4">
    <div class="p-5 mb-4 rounded-3 bg-warning">
      <div class="container-fluid py-2">
        <h1 class="display-5 fw-bold">What We Do.</h1>
        <p class="col-md-12 fs-4">A Formulated thought or opinion whatever is known or supposed about something a
          child's idea of time. The Central meaning or chief end of a particular action or situation a plan for action.
          A Standard of perfection. a transcendent entity that is a real pattern of which existing things are imperfect
          representations
          an entity (such as a thought, concept, sensation, or image) actually or potentially present to consciousness.
          An Indefinite or unformed conception</p>
      </div>
    </div>
  </div>
</main>