{% load static %}
<div class="container col-xxl-8 px-4 py-5">
  <div class="row flex-lg-row-reverse align-items-center g-5 py-1">
    <div class="col-10 col-sm-8 col-lg-6">
      <img src="{% static 'img/right-hero.jpg' %}" class="d-block mx-lg-auto img-fluid" width="600" height="300"
        loading="lazy">
    </div>
    <div class="col-lg-6 text-light">
      <h1 class="display-5 fw-bold lh-1 mb-3">Hello, world!</h1>
      <p class="lead">A Thought or suggestion as to a possible course of action.
        The idea of linking pay to performance has caught on. The Aim or Purpose.
        I took a job with the idea of getting some money together.</p>
    </div>
  </div>
</div>